/* variables */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Raleway:wght@600&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

body {
  background: linear-gradient(#7DC8CC, #F6F6F7);
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* nav */
.header__nav {
  margin-right: 6rem; }
  .header__nav li {
    padding: 1rem;
    font-family: "nunito", sans-serif;
    text-transform: uppercase; }
    .header__nav li a {
      color: #F6F6F7 !important;
      transition: transform .2s; }
      .header__nav li a:hover {
        color: #7DC8CC !important;
        background-color: #f6f6f7b9;
        padding: 10px;
        border-radius: 15px;
        transform: scale(1.1); }

/* index */
.main__content .main__content__slogan {
  color: #7DC8CC;
  font-family: "raleway", sans-serif;
  font-size: 3rem; }
  @media screen and (max-width: 600px) {
    .main__content .main__content__slogan {
      font-size: 2rem; } }

.main__content img {
  margin: auto; }

/* nosotros */
.description .description__text h1 {
  font-family: "nunito", sans-serif;
  font-size: 2rem;
  color: #F6F6F7;
  text-transform: uppercase; }

.description .description__text p {
  font-family: "raleway", sans-serif; }

.description img {
  height: 450px; }
  @media screen and (max-width: 500px) {
    .description img {
      display: none; } }

/* productos */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 20px 0; }
  .galeria .galeria__contenedores {
    background-color: #f6f6f7b7;
    font-family: "raleway", sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 2px 20px 2px;
    border-radius: 30px; }
    @media screen and (max-width: 500px) {
      .galeria .galeria__contenedores {
        width: 80%;
        display: flex;
        flex-direction: column; } }
    .galeria .galeria__contenedores img {
      width: 90%;
      margin-top: 5%; }
    .galeria .galeria__contenedores .galeria__contenedores__titulo {
      font-size: 30px;
      color: #7DC8CC; }
      @media screen and (max-width: 500px) {
        .galeria .galeria__contenedores .galeria__contenedores__titulo {
          font-size: 20px; } }
      .galeria .galeria__contenedores .galeria__contenedores__titulo:hover {
        color: black; }
    .galeria .galeria__contenedores a {
      text-decoration: none; }
    .galeria .galeria__contenedores .galeria__contenedores__titulo, .galeria .galeria__contenedores .galeria__contenedores__precio {
      padding: 0 0 10px 30px; }
      @media screen and (max-width: 500px) {
        .galeria .galeria__contenedores .galeria__contenedores__titulo, .galeria .galeria__contenedores .galeria__contenedores__precio {
          padding-left: 16px; } }

/* sucursales */
.sucursales img {
  height: 300px;
  margin-left: 10%; }
  @media screen and (max-width: 500px) {
    .sucursales img {
      display: none; } }

.sucursales h1 {
  color: #F6F6F7;
  text-transform: uppercase;
  font-family: "nunito", sans-serif;
  font-size: 2rem; }

.sucursales ul {
  font-family: "raleway", sans-serif;
  list-style: none; }
  .sucursales ul .sucursales__list-title {
    font-size: 25px; }

/* contacto */
form {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.datosPersonales {
  display: flex;
  flex-direction: row;
  margin: 10px; }
  @media screen and (max-width: 500px) {
    .datosPersonales {
      margin-left: 20%; } }
  @media screen and (max-width: 400px) {
    .datosPersonales {
      margin-left: 15%; } }
  .datosPersonales label {
    margin-right: 10px; }
  .datosPersonales select {
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left: 10px; }
  .datosPersonales input {
    border-radius: 10px;
    border: none;
    padding: 5px; }

.datosPersonales, .campoComentarios p {
  font-family: "raleway", sans-serif; }

.formulario h1 {
  font-family: "nunito", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #F6F6F7;
  margin-left: 25%; }
  @media screen and (max-width: 500px) {
    .formulario h1 {
      margin-left: 30%; } }

.campoComentarios {
  margin-left: 10%; }
  @media screen and (max-width: 500px) {
    .campoComentarios {
      margin-left: 20%; } }
  @media screen and (max-width: 400px) {
    .campoComentarios {
      margin-left: 15%; } }
  .campoComentarios p {
    margin-bottom: 10px; }
  .campoComentarios textarea {
    border-radius: 10px;
    border: none; }
  .campoComentarios button {
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 7px;
    font-family: "raleway", sans-serif;
    height: 30px;
    width: 60px; }

/* footer */
.fa-instagram, .fa-facebook, .fa-whatsapp {
  font-size: 30px;
  padding: 0 2rem 0 2rem;
  color: #7DC8CC;
  transition: transform .2s; }
  .fa-instagram:hover, .fa-facebook:hover, .fa-whatsapp:hover {
    transform: scale(1.5); }
