/* variables */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Raleway:wght@600&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

body {
  background: linear-gradient(#7DC8CC, #F6F6F7);
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* nav */
.header__nav {
  margin-right: 6rem; }
  .header__nav li {
    padding: 1rem;
    font-family: "nunito", sans-serif;
    text-transform: uppercase; }
    .header__nav li a {
      color: #F6F6F7 !important;
      transition: transform .2s; }
      .header__nav li a:hover {
        color: #7DC8CC !important;
        background-color: #f6f6f7b9;
        padding: 10px;
        border-radius: 15px;
        transform: scale(1.1); }

/* index */
.main__content .main__content__slogan {
  color: #7DC8CC;
  font-family: "raleway", sans-serif;
  font-size: 3rem; }
  @media screen and (max-width: 600px) {
    .main__content .main__content__slogan {
      font-size: 2rem; } }

.main__content img {
  margin: auto; }

/* nosotros */
.description .description__text h1 {
  font-family: "nunito", sans-serif;
  font-size: 2rem;
  color: #F6F6F7;
  text-transform: uppercase; }

.description .description__text p {
  font-family: "raleway", sans-serif; }

.description img {
  height: 450px; }
  @media screen and (max-width: 500px) {
    .description img {
      display: none; } }

/* productos */
.product {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto; }
  .product .caption {
    margin-top: 15px; }
  .product h6 a {
    font-family: "raleway", sans-serif;
    color: black; }

.product.tumbnail {
  box-shadow: 0 5px 25px 0 transparent;
  transition: 0.3s linear;
  padding-top: 0; }
  .product.tumbnail img:hover {
    box-shadow: 0 5px 25px 0 white; }

.single-product {
  /* sucursales */
  /* contacto */
  /* footer */ }
  .single-product span {
    display: inline-block; }
    .single-product span .rating + * {
      margin-left: 15px; }
    .single-product span h1.h1-variant-2 {
      margin-bottom: 20px; }
  .single-product .caption span {
    display: inline-block;
    vertical-align: middle; }
  .single-product .caption:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .single-product .caption .price {
    margin-left: 10.8%;
    font-family: "raleway", sans-serif; }
    @media (max-width: 1199px) {
      .single-product .caption .price {
        margin-left: 7.8%; } }
    .single-product .caption .price .price {
      font-size: 15px;
      font-family: "raleway", sans-serif;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: #000000; }
  .single-product .sucursales img {
    height: 300px;
    margin-left: 10%; }
    @media screen and (max-width: 500px) {
      .single-product .sucursales img {
        display: none; } }
  .single-product .sucursales h1 {
    color: #F6F6F7;
    text-transform: uppercase;
    font-family: "nunito", sans-serif;
    font-size: 2rem; }
  .single-product .sucursales ul {
    font-family: "raleway", sans-serif;
    list-style: none; }
    .single-product .sucursales ul .sucursales__list-title {
      font-size: 25px; }
  .single-product form {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 500px) {
      .single-product form {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  .single-product .datosPersonales {
    display: flex;
    flex-direction: row;
    margin: 10px; }
    @media screen and (max-width: 500px) {
      .single-product .datosPersonales {
        margin-left: 20%; } }
    @media screen and (max-width: 400px) {
      .single-product .datosPersonales {
        margin-left: 15%; } }
    .single-product .datosPersonales label {
      margin-right: 10px; }
    .single-product .datosPersonales select {
      border-radius: 10px;
      border: none;
      padding: 5px;
      margin-left: 10px; }
    .single-product .datosPersonales input {
      border-radius: 10px;
      border: none;
      padding: 5px; }
  .single-product .datosPersonales, .single-product .campoComentarios p {
    font-family: "raleway", sans-serif; }
  .single-product .formulario h1 {
    font-family: "nunito", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #F6F6F7;
    margin-left: 25%; }
    @media screen and (max-width: 500px) {
      .single-product .formulario h1 {
        margin-left: 30%; } }
  @media screen and (max-width: 500px) {
    .single-product .campoComentarios {
      margin-left: 20%; } }
  @media screen and (max-width: 400px) {
    .single-product .campoComentarios {
      margin-left: 15%; } }
  .single-product .campoComentarios p {
    margin-bottom: 10px; }
  .single-product .campoComentarios textarea {
    border-radius: 10px;
    border: none; }
  .single-product .campoComentarios button {
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 7px;
    font-family: "raleway", sans-serif;
    height: 30px;
    width: 60px; }
  .single-product .fab {
    font-size: 30px;
    padding: 0 2rem 0 2rem;
    color: #7DC8CC;
    transition: transform .2s; }
    .single-product .fab:hover {
      transform: scale(1.5); }
